*{
	margin: 0;
	padding: 0;
}

#home nav > a{
	min-height: 48px;
	margin-left: 50px;
	line-height: 48px;
	font-size: 20px;
}

#home nav a{
	color: rgb(255,255,255);
	text-shadow: 0 0 2px rgb(0,0,0);
}

.mobileNav{ display: none; }

nav .myNav{
	display: inline-block;
	float: right;
	height: 48px;
	margin-right: 30px;
}

.myNav li{
	display: inline-block;
	letter-spacing: 1px;
	list-style: none;
}

.myNav li a{
	min-height: 48px;
	line-height: 48px;
	padding: 10px 20px;
	font-size: 16px;
}

/*change navigation bar's background-color*/
.bg{background-color: rgba(0,0,0,0.9);}

.fixNav{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
}

#home{
	padding-top: 600px;
	background-image: url(https://github.com/riversword/images/raw/master/personal%20web%20page/aisi00.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: rgb(52,152,219);
}

#about{background-color: rgb(132,132,132);}

.aboutLeft{
	height: 500px;
    background: url(https://github.com/riversword/images/raw/master/personal%20web%20page/me03.jpg);
    background-size: cover;
	background-position: 50% 50%;
	background-repeat: none;
}

/*the hello animation*/
.aboutLeft>div { 
    position: relative;
    top: 0;
    left: -100%;
    width: 100%;
    text-align: center;
    color: rgba(0,0,0,1);
    -webkit-transition: all 1s ease; /* Safari 和 Chrome */
       -moz-transition: all 1s ease; /* Firefox 4 */
    	 -o-transition: all 1s ease; /* Opera */
    	  	transition: all 1s ease;
}

.aboutLeft>div.hello{left:0;}

.aboutLeft>div>h3 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 200px;
    height: 500px;
    line-height: 500px; 
    margin: 0;
}

/*the font-size should change in different devices*/
.introduce{
	height: 500px;
}

.introduce h3{
	margin-top: 20%;
}

.introduce p{
	font-size: 1.5em;
	line-height: 1.5em;
	text-align: justify;
	text-indent: 2em;
}

#works{
	background-color: rgb(0,0,0);
	color: rgba(255,255,255,1);
}

.worksBox{
	width: 90%;
	margin: 0 auto;
	padding-bottom: 6%;
}

.worksBox h2{
	width: 70%;
	margin: 0 auto;
	padding: 5% 0 2%;
	color: rgba(255,255,255,1);
}

#works .workshow{
	overflow: hidden;
	height: 300px;
	margin: 0;
	padding: 0;
}

#works .workshow>div{
	height: 300px;
	margin: 0;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	background-color: rgb(254,124,96);
}

/*works animation*/
#works .workshow:nth-child(1)>div{
	position: relative;
	left: -150%;
	top: -150%;
	background-image: url(https://github.com/riversword/images/raw/master/personal%20web%20page/works01.jpg);
	-webkit-transition: all 1s ease; /* Safari 和 Chrome */
       -moz-transition: all 1s ease; /* Firefox 4 */
         -o-transition: all 1s ease; /* Opera */
    		transition: all 1s ease;
}
#works .workshow:nth-child(1)>div.move{top: 0; left: 0;}

#works .workshow:nth-child(2)>div{
	position: relative;
	left: 0;
	top: -150%;
	background-image: url(https://github.com/riversword/images/raw/master/personal%20web%20page/works02.jpg);
	-webkit-transition: all 1s ease; /* Safari 和 Chrome */
       -moz-transition: all 1s ease; /* Firefox 4 */
         -o-transition: all 1s ease; /* Opera */
    		transition: all 1s ease;
}
#works .workshow:nth-child(2)>div.move{top: 0;}

#works .workshow:nth-child(3)>div{
	position: relative;
	left: 150%;
	top: -150%;
	background-image: url(https://github.com/riversword/images/raw/master/personal%20web%20page/works03.png);
	-webkit-transition: all 1s ease; /* Safari 和 Chrome */
       -moz-transition: all 1s ease; /* Firefox 4 */
         -o-transition: all 1s ease; /* Opera */
    		transition: all 1s ease;
}
#works .workshow:nth-child(3)>div.move{left: 0; top: 0;}

#works .workshow:nth-child(4)>div{
	position: relative;
	left: -150%;
	top: 0;
	background-image: url(https://github.com/riversword/images/raw/master/personal%20web%20page/works04.png);
	-webkit-transition: all 1s ease; /* Safari 和 Chrome */
       -moz-transition: all 1s ease; /* Firefox 4 */
         -o-transition: all 1s ease; /* Opera */
    		transition: all 1s ease;
}
#works .workshow:nth-child(4)>div.move{left: 0; top: 0;}

#works .workshow:nth-child(5)>div{
	background-image:url(https://github.com/riversword/images/raw/master/personal%20web%20page/works05.jpg);
	position: relative;
	left: 0;
	top: 150%;
	-webkit-transition: all 1s ease; /* Safari 和 Chrome */
       -moz-transition: all 1s ease; /* Firefox 4 */
         -o-transition: all 1s ease; /* Opera */
    		transition: all 1s ease;
}
#works .workshow:nth-child(5)>div.move{top:0;}

#works .workshow:nth-child(6)>div{
	position: relative;
	left: 150%;
	top: 0;
	background-image: url(https://github.com/riversword/images/raw/master/personal%20web%20page/works06.jpg);
	-webkit-transition: all 1s ease; /* Safari 和 Chrome */
       -moz-transition: all 1s ease; /* Firefox 4 */
         -o-transition: all 1s ease; /* Opera */
    		transition: all 1s ease;
}
#works .workshow:nth-child(6)>div.move{left: 0;}

#works .workshow:nth-child(7)>div{
	position: relative;
	left: -150%;
	top: 150%;
	background-image: url(https://github.com/riversword/images/raw/master/personal%20web%20page/works07.jpg);
	-webkit-transition: all 1s ease; /* Safari 和 Chrome */
       -moz-transition: all 1s ease; /* Firefox 4 */
         -o-transition: all 1s ease; /* Opera */
    		transition: all 1s ease;
}
#works .workshow:nth-child(7)>div.move{left: 0; top: 0;}

#works .workshow:nth-child(8)>div{
	position: relative;
	left: 0;
	top: 150%;
	background-image: url(https://github.com/riversword/images/raw/master/personal%20web%20page/works08.jpg);
	-webkit-transition: all 1s ease; /* Safari 和 Chrome */
       -moz-transition: all 1s ease; /* Firefox 4 */
         -o-transition: all 1s ease; /* Opera */
    		transition: all 1s ease;
}
#works .workshow:nth-child(8)>div.move{top: 0;}

#works .workshow:nth-child(9)>div{
	position:relative;
	left: 150%;
	top: 150%;
	background-image: url(https://github.com/riversword/images/raw/master/personal%20web%20page/works09.jpg);
	-webkit-transition: all 1s ease; /* Safari 和 Chrome */
       -moz-transition: all 1s ease; /* Firefox 4 */
         -o-transition: all 1s ease; /* Opera */
    		transition: all 1s ease;
}
#works .workshow:nth-child(9)>div.move{left: 0; top: 0;}

#works .describe{
	height: 300px;
	padding: 30% 5px;
	font-size: 1.5em;
	/*text-indent: 2em;*/
	text-align: justify;
}

#works .describe:hover{background-color: rgba(0,0,0,0.7);}

#works .describe a>p{
	font-size: 1.2em;
}

#works .describe p{
	position: relative;
	left: 0;
	top: 300px;
	padding:0 10px;
	font-size: 1em;
	text-align: center;
	color: transparent;
	cursor: pointer;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease; 
         -o-transition: all 0.5s ease; 
    		transition: all 0.5s ease;
}

#works .describe.hoverAntimate p{
	top: 0;
	color: rgba(255,255,255,1);
}

#works .describe i{ padding: 0 5px; }

.displayHidden{display: none;}

.viewWork{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	width: 100%;
	padding: 0 20%;
	text-align: right;
	background-color: rgba(0,0,0,0.9);
}

.viewWork>i{
	font-size: 3em;
	color: rgba(255,255,255,1);
	cursor: pointer;
}

#contact{
	height: 500px;
	padding: 0;
	color: rgba(255,255,255,1);
	border: 1px transparent solid;
	background: url(https://github.com/riversword/images/raw/master/personal%20web%20page/hei01.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: rgb(114,114,114);
}

#contact h2{
	margin: 5% auto 3%;
	text-shadow: 0 0 2px rgba(0,0,0,1);
}

#contact>p{
	width: 800px;
	margin: 0 auto;
	font-size: 1.5em;
	text-indent: 2em;
	text-shadow: 0 0 1px rgba(0,0,0,1);
}

#contact .icons{
	width: 100%;
	margin: 3% auto 0;
}

#contact .icons p:nth-child(1){
	font-size: 2em;
	text-align: center;
}

#contact .icons a{
	color: rgba(255,255,255,1);
	text-shadow: 0 0 2px rgba(0,0,0,1);
}

#contact .icons p:nth-child(3){
	font-size: 3em;
	text-align: center;
}

#contact .icons p:nth-child(3) i{ margin: 0 0.25em; }

.footer{
	width: 100%;
	margin: 80px auto 0;
	font-size: 1.5em;
	text-align: center;
	color: rgba(255,255,255,0.8);
}


@media screen and (max-width: 1120px){

.aboutLeft div h3 { font-size: 150px; }

.introduce h3{ margin-top: 10%; }

/*.introduce p{ font-size: 1.4em; }*/

#works .describe{ font-size: 1.2em; }

}

@media screen and (max-width: 900px){

.aboutLeft div h3 { font-size: 120px; }

/*.introduce h2{ margin-top: 10%; }*/

.introduce p{ font-size: 1.3em; }

.viewWork{ padding: 0 10%; }

#contact>p{
	width: 700px;
	font-size: 1.4em;
}

#contact .icons p:nth-child(1){ font-size: 1.5em; }

#contact .icons p:nth-child(3){ font-size: 2.5em; }

.footer{ font-size: 1.2em; }

}


@media screen and (max-width: 800px){

nav>a{ display: none; }

ul.myNav{
	display: block;
	float: none;
	margin: 0 auto;
	text-align: center;
}

ul.myNav li{
	display: inline-block;
	list-style: none;
	letter-spacing: 1px
}

ul.myNav li a{
	padding: 10px 20px;
	min-height: 48px;
	line-height: 48px;
	font-size: 18px;
}

.aboutLeft div h3 { font-size: 100px; }

.introduce p{ font-size: 1.3em; }

}

@media screen and (max-width: 768px){

.aboutLeft{ height: 400px; }

.aboutLeft div h3 { 
     height: 400px;
    line-height: 400px;
}

.introduce{ height: 400px; }

#works .describe{
	background-color: rgba(0,0,0,0.7);
}

#works .describe p{
    top: 0;
    color: rgba(255,255,255,1);
}

#contact{ height: auto; }

#contact>p{
	width: 460px;
	font-size: 1.2em;
}

#contact .icons p:nth-child(1){ font-size: 1.2em; }

#contact .icons p:nth-child(3){ font-size: 2.2em; }

.footer{ font-size: 1em; }

}

@media screen and (max-width: 500px){
/*mobile*/
nav{
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
	width: 110px;
	background-color: transparent !important;	
	
}

.fixNav{
	width: 110px;
	right: 0;
}

nav>a{
	display: none;
}

nav ul.mobileNav{
	display: block; /*can't be inline-block*/
	width: 50px;
	height: 50px;
	margin: 10px 10px 10px 50px;
	padding: 0;
	color: rgba(255,255,255,1);
	text-align: center;
	border: 1px rgb(255,255,255) solid;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.9);
}

nav ul.mobileNav li{
	display: inline-block;
	height: 45px;
	line-height: 45px;
	font-size: 25px;
}

nav ul.myNav{
	display: none;
	float: none;
	width: 100px;
	height: auto;
	padding: 30px 0;
	margin-right: 10px;
	color: rgb(255,255,255);
	text-align: center;
	list-style: none;
	border: 1px rgba(255,255,255,0.9) solid;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.9);
}

nav ul.myNav li{
	display: inline-block;
	width: 100%;
	text-align: center;
}

ul.myNav li a{
	padding: 10px 0;
	color: rgba(255,255,255,0.9);
	text-decoration: none;
	text-align: center;
	border-bottom: 1px rgba(255,255,255,0.4) solid;
}

.introduce{ height:500px; }

.introduce h3{ margin-top: 15%; }

.introduce p{ font-size: 1.2em; }

/*.worksBox{
	width: 100%;
	padding-bottom: 0;
}*/

.viewWork{ padding: 0 0; }

#contact>p{
	width: 300px;
	font-size: 1.1em;
}

}